{% load static %}

<h1 style="z-index: 1000;">Craft a resume worthy of a wizarding accolade in mere minutes<svg style="margin-bottom: 8px;margin-left: 3px;" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
  <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z" />
</svg></h1>
<br>
<div style="padding: 1rem;text-align: right;">
    <button style="z-index: 1000;" class="btn btn-page" id="to-education">Continue with Education</button>
    <br>
    <img src="{% static 'basic_information.png' %}" alt="My image" class="image-home" />
</div>

<div class="main-content">
<div style="row" style="margin-top: 50px;">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">You</h5>
        <div class="form-group">
          <label for="data-name">Full name</label>
          <input type="text" class="form-control" id="data-name" value="{{ data.name }}" placeholder="" />
        </div>
        <div class="form-group">
          <label for="data-title">Title</label>
          <input type="text" class="form-control" id="data-title" value="{{ data.title }}" placeholder="" />
        </div>
        <div class="form-group">
          <label for="data-description">Description</label>
          <textarea type="text" class="form-control" id="data-description" style="height: 150px;" placeholder="" />{{ data.description }}</textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="margin-top: 50px;margin-bottom: 50px;">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Contact</h5>
        <div class="form-group">
          <label for="data-email">Email</label>
          <input type="email" class="form-control" id="data-email" value="{{ data.email }}" placeholder="" />
        </div>
        <div class="form-group">
            <label for="data-location">Location</label>
            <input type="text" class="form-control" id="data-location" value="{{ data.location }}" placeholder="" />
          </div>
          <div class="form-group">
            <label for="data-web_page">Web page</label>
            <input type="text" class="form-control" id="data-web_page" value="{{ data.web_page }}" placeholder="" />
          </div>
          <div class="form-group">
            <label for="data-phone_number">Phone Number</label>
            <input type="text" class="form-control" id="data-phone_number" value="{{ data.phone_number }}" placeholder="" />
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<script>
  $('#data-name').focusout(function() {
    map_basic_information['name'] = $(this).val();
  });
  $('#data-title').focusout(function() {
    map_basic_information['title'] = $(this).val();
  });
  $('#data-description').focusout(function() {
    map_basic_information['description'] = $(this).val();
  });
  $('#data-email').focusout(function() {
    map_basic_information['email'] = $(this).val();
  });
  $('#data-location').focusout(function() {
    map_basic_information['location'] = $(this).val();
  });
  $('#data-web_page').focusout(function() {
    map_basic_information['web_page'] = $(this).val();
  });
  $('#data-phone_number').focusout(function() {
    map_basic_information['phone_number'] = $(this).val();
  });
</script>

<style>
.card {
    border-radius: 0px!important;
}
  .form-group {
    margin: 0.5rem;
    margin-top: 1rem;
  }
</style>
