{% extends 'base.html' %} {% block title %}
  Customize
{% endblock %}
{% block content %}
  {% load static %}
  {% include 'props/nav_bar.html' %}
  {% include 'props/range_date_picker_css.html' %}
  <div class="container">
    <div id="basic-information-box">
      {% include 'generate_cv/basic_information.html' %}
    </div>

    <div id="education-box" style="display: none;">
      {% include 'generate_cv/education.html' %}
    </div>

    <div id="experiences-box" style="display: none;">
      {% include 'generate_cv/experiences.html' %}
    </div>
    <div id="licences-courses-box" style="display: none;">
      {% include 'generate_cv/licences_courses.html' %}
    </div>
    <div id="projects-box" style="display: none;">
      {% include 'generate_cv/projects.html' %}
    </div>
  </div>

  <script>
    var hide_basic_information_items = {
      title: false,
      description: false,
      email: false,
      location: false,
      web_page: false,
      phone_number: false
    }

    var map_basic_information = {
      name: '{{ data.name }}',
      title: '{{ data.title }}',
      description: '{{ data.description }}',
      email: '{{ data.email }}',
      location: '{{ data.location }}',
      web_page: '{{ data.web_page }}',
      phone_number: '{{ data.phone_number }}'
    }

    var education = [
      {% for i in data.education %}
      {
        id: '{{i.id}}',
        time_end: '{{i.time_end}}',
        time_start: '{{i.time_start}}',
        entity: '{{i.entity}}',
        name: '{{i.name}}'
      },
      {% endfor %}
    ]

    var experiences = [
      {% for i in data.experiences %}
      {
        id: '{{i.id}}',
        name: '{{i.name}}',
        time: '{{i.time}}',
        description: '{{i.description}}',
        group: [
          {% for j in i.group %}
          {
            id: '{{j.id}}',
            name: '{{j.name}}',
            time: '{{j.time}}',
            description: '{{j.description}}'
          },
          {% endfor %}
        ]
      },
      {% endfor %}
    ]

    var licenses = [
      {% for i in data.licences %}
      {
        id: '{{i.id}}',
        expedition: '{{i.expedition}}',
        name: '{{i.name}}',
        emitted_by: '{{i.emitted_by}}'
      },
      {% endfor %}
    ]
    

    var projects = [
      {% for i in data.projects %}
      {
        id: '{{i.id}}',
        name: '{{i.name}}',
        time: '{{i.time}}',
        description: '{{i.description}}'
      },
      {% endfor %}
    ]
  </script>
  <script>
    $('#to-education').click(function () {
      remove_links()
      fadeOut(current_page)
      current_page = '#education-box'
      $('#education').addClass('active')
      $(current_page).delay(800).fadeIn()
    })
    
    $('#to-experiences').click(function () {
      remove_links()
      fadeOut(current_page)
      current_page = '#experiences-box'
      $('#experiences').addClass('active')
      $(current_page).delay(800).fadeIn()
    })
    
    $('#to-licences-courses').click(function () {
      remove_links()
      fadeOut(current_page)
      current_page = '#licences-courses-box'
      $('#licences-courses').addClass('active')
      $(current_page).delay(800).fadeIn()
    })
    
    $('#to-projects').click(function () {
      remove_links()
      fadeOut(current_page)
      current_page = '#projects-box'
      $('#projects').addClass('active')
      $(current_page).delay(800).fadeIn()
    })
  </script>

  <style>
    .main-content {
      max-height: 58vh;
      overflow-y: auto;
      max-width: 70%;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: -50px;
    }
    
    .image-home {
      margin-top: 20px;
      margin-bottom: 10px;
      max-height: 450px;
      bottom: 18%;
      right: 15%;
      position: absolute;
      z-index: -1000;
    }
    
    @media screen and (max-height: 2000px) {
      .image-home {
        bottom: 23%;
        max-height: 400px;
      }
    }
    
    @media screen and (max-height: 1500px) {
      .image-home {
        bottom: 21%;
        max-height: 350px;
      }
    }
    
    @media screen and (max-height: 1000px) {
      .image-home {
        bottom: 10%;
        max-height: 300px;
      }
    }
    
    @media screen and (max-height: 800px) {
      .image-home {
        bottom: 0%;
        max-height: 350;
      }
    }
    
    @media screen and (max-height: 568px) {
      .image-home {
        display: none; /* Hide the image on mobile screens */
      }
    }
    
    @media screen and (max-width: 2000px) {
      .image-home {
        right: 10%;
      }
    }
    @media screen and (max-width: 1700px) {
      .image-home {
        right: 5%;
      }
    }
    @media screen and (max-width: 1500px) {
      .image-home {
        right: 5%;
      }
    }
    @media screen and (max-width: 1200px) {
      .image-home {
        right: 0%;
      }
    }
    
    @media screen and (max-width: 1000px) {
      .image-home {
        right: 0;
      }
    }
    
    @media screen and (max-width: 700px) {
      .image-home {
        display: none; /* Hide the image on mobile screens */
      }
      .main-content {
        margin-top: 0px;
        overflow-y: auto;
        max-width: 100%;
        max-height: 50%;
        margin-bottom: 10px;
      }
    }
  </style>

  <div class="modal fade" id="export-cv-modal" tabindex="-1" role="dialog" aria-labelledby="export-cv-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          {% if editor != True %}
            <h5 class="modal-title" id="export-cv-modalLabel">Assign a name to your export</h5>
          {% else %}
            <h5 class="modal-title" id="export-cv-modalLabel">Modifying...</h5>
          {% endif %}
        </div>
        <div class="modal-body">
          <div id="export-message" style="display: none;" class="alert alert-warning" role="alert"></div>
          <div class="form-group">
            {% if editor != True %}
              <label for="export-name">Export Name</label>
              <input type="text" class="form-control" id="export-name" value="{{ data.name }} - {{ export_date }}" />
            {% else %}
              <label for="export-name">Editing Export</label>
              <input type="text" class="form-control" id="export-name" value="{{ editing }}"/>
            {% endif %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="export-submit-to-template-confirmation" class="btn btn-page">Save & Choose a template</button>
          <script>
            $('#export-submit-to-template-confirmation').click(function () {
              $('#confirmation-export').modal('show'); 
            })
          </script>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 1.6%" class="modal fade" id="confirmation-export" tabindex="-1" role="dialog" aria-labelledby="confirmation-exportLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div style="border: 3px solid #0d141c" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmation-exportLabel"><strong>Are you sure you want to use this information to create the CV?</strong></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" id="export-submit-to-template" class="btn btn-page">Yes</button>
          <script>
            function handle_export(success) {
              if (success.hasOwnProperty('error')) {
                $('#export-message').text(success.error)
                $('#export-message').css('display', 'flex')
              } else {
                $('#export-message').css('display', 'none')

                if (success.hasOwnProperty('uuid')) {
                  window.location.href = '/cv/template/'+success['uuid']
                }
              }
            }
            $('#export-submit-to-template').click(function () {

              fetch(`/cv/export`, {
                method: 'Post',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8',
                    "X-CSRFToken": getCookie("csrftoken")
        
                },
                body: JSON.stringify({
                    'csrfmiddlewaretoken': '{% csrf_token %}',
                    'basic_information': map_basic_information,
                    'education': education,
                    'experiences': experiences,
                    'licenses': licenses,
                    'projects': projects,
                    'hide_basic_information_items': hide_basic_information_items,
                    'name': $('#export-name').val(),
                    'editor': '{{editor}}',
                    'uuid': '{{uuid}}'
                })
            }).then(resp => resp.json()).then(success => handle_export(success));
            })
          </script>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
