{% load static %}

<h1 style="z-index: 1000;">
  Discover and showcase courses that will elevate your skills, and craft a resume worthy of a wizarding accolade in mere minutes<svg style="margin-bottom: 8px;margin-left: 3px;" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z" />
  </svg>
</h1>
<br />
<div style="padding: 1rem;text-align: right;">
  <button style="z-index: 1000;" class="btn btn-page" id="to-projects" href="#">Continue with Projects</button>
  <br />
  <img src="{% static 'courses.png' %}" alt="My image" class="image-home" />
</div>
<div class="main-content">
  <div style="row" style="margin-top: 50px;">
    {% for i in data.licences %}
      <div class="card border-dark mb-3" style="max-width: 50vh;">
        <div class="card-header" id="_licenses_expedition_{{ i.id }}" contenteditable="true">{{ i.expedition }}</div>
        <div class="card-body text-dark">
          <h5 class="card-title" id="_licenses_name_{{ i.id }}" contenteditable="true">{{ i.name }}</h5>
          <p class="card-text" id="_licenses_emitted_by_{{ i.id }}" contenteditable="true">{{ i.emitted_by }}</p>
        </div>
      </div>
      <script>
        $('#_licenses_expedition_{{ i.id }}').on('keypress focusout', function (ev) {
          licenses[Number('{{ i.id }}')]['expedition'] = $(this).text()
        })
        $('#_licenses_name_{{ i.id }}').on('keypress focusout', function (ev) {
          licenses[Number('{{ i.id }}')]['name'] = $(this).text()
        })
        $('#_licenses_emitted_by_{{ i.id }}').on('keypress focusout', function (ev) {
          licenses[Number('{{ i.id }}')]['emitted_by'] = $(this).text()
        })
      </script>
    {% endfor %}
  </div>
</div>
