{% extends 'base.html' %} {% block title %}
  -> Loading
{% endblock %}
{% block content %}
  {% load static %}
  {% include 'props/nav_bar_main.html' %}
  <style>
    .animate-charcter {
      text-transform: uppercase;
      background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 4s linear infinite;
      display: inline-block;
      font-size: 60px;
    }
    
    @keyframes textclip {
      to {
        background-position: 200% center;
      }
    }
  </style>
  <div class="content d-flex justify-content-center" style="margin-top: 10%;padding: 3rem;">
    <div class="spinner-container">
      <h4 class="animate-charcter">{{ message }}</h4>
    </div>
  </div>
  

  <script>
    window.location.href = '{{to}}'
  </script>
{% endblock %}