<nav class="navbar navbar-expand-lg navbar-custom" style="padding: 1rem 1rem 1rem 2rem;">
  <a class="navbar-brand" href="/">
    CV Wizard<svg style="margin-bottom: 8px;margin-left: 3px;" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
      <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z" />
    </svg>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div style="padding-right: 10px;" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <!-- Left side -->
      <li class="nav-item active">
        <a class="nav-link active" id="your-resumes" href="#">Your CVs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="configuration" href="#">Configuration
          {% if cookie_exists == False %}
            <svg xmlns="http://www.w3.org/2000/svg" color="orange" width="14" height="14" style="margin-bottom: 2px;" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
              <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
              <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
            </svg>
          {% endif %}
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <!-- Left side -->
      <li class="nav-item active">
        <a class="btn btn-page" href="/auth/logout/">Exit</a>
      </li>
    </ul>
  </div>
</nav>

<script>

  var current_page = '#your-resumes-box'
  function remove_links() {
    $("#your-resumes").removeClass("active");
    $("#configuration").removeClass("active");
  };

  function fadeOut(current_page) {
    $(current_page).fadeOut();
  };

  $("#your-resumes").click(function(){
    remove_links();
    fadeOut(current_page)
    current_page = "#your-resumes-box"
    $("#your-resumes").addClass("active");
    $(current_page).delay(800).fadeIn();
  });

  $("#configuration").click(function(){
    remove_links();
    fadeOut(current_page)
    current_page = "#configuration-box"
    $("#configuration").addClass("active");
    $(current_page).delay(800).fadeIn();
  });
</script>