<style>
  /* Custom scrollbar for webkit browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4f4598;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: wheat;
    border: 1.2px solid #0d141c;
  }
  
  /* Custom scrollbar for Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  
  /* Track */
  scrollbar-track-color: #f1f1f1;
  
  /* Handle */
  scrollbar-face-color: #888;
  
  /* Handle on hover */
  scrollbar-face-color: #555;
  
  /* Width */
  scrollbar-width: thin;
</style>
