{% extends 'base.html' %} {% block title %}
  Main
{% endblock %}
{% block content %}
  {% load static %}
  {% include 'props/nav_bar_main.html' %}
  <div class="container">
    {% if cookie_exists == False %}
      {% include 'home/middleware_linkedin_config.html' %}
    {% endif %}

    <div id="your-resumes-box">
      {% include 'home/your-resumes-box.html' %}
    </div>

    <div id="configuration-box" style="display: none;">
      {% include 'home/configuration.html' %}
    </div>
  </div>
{% endblock %}
