<div class="modal fade" id="middleware-linkedin" tabindex="-1" role="dialog" aria-labelledby="middleware-linkedinLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="middleware-linkedinLabel">Set up LinkedIn access</h5>
        </div>
        <form id="setup-linkedin-access">
            <div class="modal-body">
                <h6>
                    <strong>Note:</strong> The connection won't be permanent; if you log out of LinkedIn, this token will be deleted and become invalid. It's not mandatory to connect to the platform; it's only required when LinkedIn data is needed to generate a new CV. Connecting isn't necessary for exporting or modify an existing CV.
                </h6>
            </div>
            <div class="modal-footer">
            <button type="button" id="later-submit" class="btn btn-page" data-dismiss="modal">Later</button>
            </div>
        </form>
      </div>
    </div>
</div>

<script>
$(document).ready(function() {
 $('#middleware-linkedin').modal('show'); 
});
</script>